{% extends 'base.html' %}
{% load static %}
{% block title %} History Student {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% if history %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Message</th>
                                <th>Active</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in history %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ student.message }}</td>
                                    <td>{{ student.active }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="text-center">No History Available</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}