{% extends 'base.html' %}
{% load static %}
{% block title %} Details - {{ trainer }}  {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <div class="card text-center">
                    <div class="card-header">
                      View details
                    </div>
                    <div class="card-body">
                        <div>
                             {% if trainer.image_up %}
                                        <img src="{{ trainer.image_up.url }}" width="60px" height="60" alt="No image">
                                    {% else %}
                                        <img src="{% static 'images/img.png' %}" width="60px" height="60px"
                                             alt="No image">
                                    {% endif %}
                        </div>
                        <h5 class="card-title">{{ trainer }}</h5>
                        <p class="card-text"><strong>Email: </strong> {{ trainer.email }}</p>
                        <a href="{% url 'list-of-trainers' %}" class="btn btn-primary">Back to list of trainers</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                       <strong>Created at: </strong> {{ trainer.created_at|date:'d-m-Y H:i:s' }}/ <strong>Updated at: </strong> {{ trainer.updated_at|date:"d-m-Y H:i:s" }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}