<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .edit_a{
            color:black;
            text-decoration: none;
        }
        p{
            color: gray;
           
        }
        h2{
            color: #6a1a21;
        }
    </style>
</head>
<body>

<h2>Salut, {{ fullname }}</h2>

<p> Bine ai venit! Contul tau a fost adaugat cu success</p>
<p> Pentru autentificare ai nevoie sa introduci numele de utilizator: {{ user_name }}</p>
<br>
<p>Pentru mai multe informatii te asteptam cu un mail pe suport@aplicatiedjango.ro</p>

<p>Pentru accesarea aplicatiei te rugam sa accesezi</p><a class="edit_a" href="http://127.0.0.1:8000/" target="_blank">Django Project</a>


<br><br><br>
<p>Multumim! Echipa, RO54!</p>

</body>
</html>